@use '../../styles/utils';

.container {
  font-size: 1.6rem;
  padding: 2rem;
}

.container > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 1rem;
}
